.s-1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 100px;

    
    
    .container {
        
        margin: 0 auto;
        @include container($container-width);
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-color;

        
        
        .burger-bar {
            display: none;

            @media(max-width: 1075px) {
                display: block;
            }
            .burger {
                font-size: 25px;
                color: #FFFFFF;
                cursor: pointer;
                display: none;
    
                @media(max-width: 1075px) {
                    display: block;
                }
            }
        }
        
        

        .Logo {
            cursor: pointer;
        }

        & > ul {
            display: flex;
            align-items: center;
            @media(max-width: 1075px) {
                display: none;
            }
            
            & > li {
                & > a {
                    transition: 0.3s;
                }

                & > a:hover {
                    font-weight: bold;
                    color: #19B5FE;
                    opacity: 100%;
                    padding: 38px 0;
                    border-bottom: 4px solid #19B5FE;
                }

                .fa-bars {
                    display: none;
                    @media(max-width: 1075px) {
                        display: block;
                        color: #FFFFFF;
                    }
                }

                

                
            }
        }

        .nav-links {
            color: #FFFFFF;
            margin-right: 60px;
            font-family: $main-font;
            font-weight: normal;
            font-size: 14px;
            opacity: 60%;
        }

        .btn-1 {
            @include button(120px, 44px, solid, 1px, #FFFFFF, transparent, 4px);
            font-family: $main-font;
            transition: 0.7s;
        }

        .btn-1:hover {
            border: none;
            font-weight: bold;
            background-color: #FFFFFF;
            color: black;
        }
    }
}

.s-2 {
    margin-top: 100px;
    .container-2 {
        @include container($container-width);
        display: flex;
        align-items: center;
        margin-top: 22px;

        @media(max-width: 760px) {
            justify-content: center;
            transform: translate(0, 80px);
        }
        

        .left {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 525px;
            height: 370px;
            
            @media(max-width: 760px) {
                text-align: center;
            }

            & > h1 {
                @include text(#FFFFFF, $main-font, 50px, bold);
                
                @media(max-width: 400px) {
                    font-size: 35px;
                }
            }

            & > h2 {
                @include text(#FFFFFF, $main-font, 28px, medium);
                opacity: 40%;
                line-height: 37px;

                @media(max-width: 400px) {
                    font-size: 20px;
                }
            }

            & > h3 {
                @include text(#FFFFFF, $main-font, 14px, normal);
                line-height: 20px;

                @media(max-width: 400px) {
                    font-size: 10px;
                    padding: 0 10px;
                }
            }

            & > p {
                @include text(#19B5FE, $main-font, 24px, normal);
                letter-spacing: 3px;
            }

            .Buttons {
                display: flex;
                align-items: center;

                @media(max-width: 360px) {
                    padding-top: 50px;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                @media(max-width: 760px) {
                    justify-content: center;
                }
                .btn-2 {
                    display: inline-flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 30px;
                    @include button(160px, 44px, none, 0, 0, #19B5FE, 4px);
                    font-family: $main-font;
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: bold;
                    margin-right: 15px;
                    transition: 0.4s;

                    @media(max-width: 360px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
    
                .btn-2:hover {
                    background-color: #FFFFFF;
                    color: black;
                }
    
                .btn-3 {
                    display: inline-flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 30px;
                    @include button(160px, 44px, solid, 1px, #FFFFFF, transparent, 4px);
                    font-family: $main-font;
                    transition: 0.7s;
                }
    
                .btn-3:hover {
                    border: none;
                    font-weight: bold;
                    background-color: #FFFFFF;
                    color: black;
                }
            }
        }

        .Header-mouse {
            display: inline-flex;
            max-width: 100%;

            @media(max-width: 1200px) {
                max-width: 60%;
            }

            @media(max-width: 1000px) {
                max-width: 50%;
            }

            @media(max-width: 760px) {
                display: none;
            }
        }

    }
}

.jumpTo-1 {
    width: 1px;
    height: 1px;
    margin-bottom: 215px;
}

.Title {
    @include container($container-width);
    text-align: center;
    margin-bottom: 130px;

    
    .container-Title {
        
        .bg-text {
            color: #19B5FE;
            opacity: 15%;
            font-family: $main-font;
            font-size: 80px;
            font-weight: 500;
            transform: translate(0, 38px);

            @media(max-width: 500px) {
                font-size: 60px;
            }
        }

        .question {
            color: #FFFFFF;
            font-family: $main-font;
            font-size: 28px;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        .View-more {
        vertical-align: center;
            @include button(120px, 30px, 0, 0, #19B5FE, transparent, 4px);
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;
            
        }
    }
}

.s-3 {

    .container-3 {
        @include container($container-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        @media(max-width: 1075px) {
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        
        .cards {
            cursor: pointer;
            width: 360px;
            height: 260px;
            background-color: #393939;
            border-radius: 20px;

            @media(max-width: 1300px) {
                width: 310px;
                height: 210px;
                margin-bottom: 100px;
                margin-left: 40px;
            }

            @media(max-width: 500px) {
                margin-left: 0;
            }

            

            .card-photo-1 {
                transform: translate(0, -85px);
                transition: 0.3s;

                @media(max-width: 1300px) {
                    width: 80%;
                    
                }
            }

            .card-text {
                font-family: $main-font;
                font-size: 20px;
                font-weight: bold;
                color: #FFFFFF;
                transform: translate(0, -95px);
            }
        }

        .card-photo-1:hover {
            transform: translate(0, -100px);
        }
    }
}

.jumpTo-2 {
    width: 1px;
    height: 1px;
    margin-bottom: 160px;
}

.s-4 {

    .container-4 {
        @include container($container-width);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media(max-width: 1300px) {
            justify-content: center;
        }
        
        .box-2 {
            cursor: pointer;
            width: 555px;
            height: 180px;
            display: flex;
            background-color: #393939;
            border-radius: 20px;
            margin-bottom: 30px;

            @media(max-width: 650px) {
                width: 455px;
                padding-bottom: 15px;
            }
        }

        .Card-Image {
            transform: translate(0, -20px);
            padding-left: 20px;
            transition: 0.3s;

            @media(max-width: 650px) {
                width: 50%;
                height: 50%;
                transform: translate(0, 40px);
                padding-left: 30px;
            }
        }

        .Card-Image:hover {
            transform: translate(0, -30px);
        }

        .box-2-text {
            padding: 35px;
            overflow: hidden;
            .top-text {
                color: #FFFFFF;
                margin-bottom: 23px;
                font-family: $main-font;
                font-size: 22px;
                font-weight: 500;

                @media(max-width: 650px) {
                    margin-bottom: 15px;
                    font-size: 18px;
                }
            }
    
            .bottom-text {
                color: #FFFFFF;
                font-family: $main-font;
                font-size: 14px;
                opacity: 70%;
                line-height: 19px;
                

                @media(max-width: 650px) {
                    font-size: 10px;
                }
            }
        }
    }
}

.jumpTo-3 {
    width: 1px;
    height: 1px;
    margin-bottom: 230px;
}

.s-5 {

    .carousel-inner {
        padding: 10px 0;

        @media(max-width: 1300px) {
            flex-wrap: wrap;
        }
    }

    .container-5 {
        @include container($container-width);

        .carousel-item-cards {
            display: flex;
            justify-content: space-between;

            @media(max-width: 1300px) {
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding: 0 40px;
            }

            
            .carousel-card {
                cursor: pointer;
                width: 270px;
                height: 240px;
                background-color: #393939;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s;
                @media(max-width: 1300px) {
                    margin-bottom: 40px;
                    margin-left: 40px;
                }

                @media(max-width: 500px) {
                    margin-left: 0;
                }

                
                .carousel-card-image {
                    padding-top: 30px;
                    width: 250px;
                    height: 180px;
                }
    
                .carousel-card-text {
                    text-align: center;
                    color: #FFFFFF;
                    font-family: $main-font;
                    font-size: 14px;
                    padding-bottom: 25px;
                }
            }

            .carousel-card:hover {
                transform: translate(0, -10px);
            }
        }
        .left-arrow {
            transform: translate(-70px, 0);
            padding-left: 40px;

            @media(max-width: 1300px) {
                display: none;
            }
        }

        .right-arrow {
            transform: translate(70px, 0);
            padding-right: 40px;

            @media(max-width: 1300px) {
                display: none;
            }
        }
    }
}

.jumpTo-4 {
    width: 1px;
    height: 1px;
    margin-bottom: 160px;
}

.s-6 {
    color: #FFFFFF;
    font-family: $main-font;
    .container-6 {
        @include container($container-width);
        display: flex;
        justify-content: space-between;
        margin-bottom: 200px;

        @media(max-width: 1100px) {
            flex-direction: column;
            align-items: center;
        }
        .info {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
            height: 288px;
            margin-right: 220px;

            @media(max-width: 1300px) {
                margin-right: 10%;
            }

            @media(max-width: 1100px) {
                text-align: center;
                margin-right: 0;
                margin-bottom: 80px;
            }

            .contacts-text-top {
                font-size: 14px;
                font-weight: bold;
            }

            .contact-info {
                display: flex;
                align-items: center;

                @media(max-width: 1100px) {
                    margin: 0 auto;
                }

                .fa-phone {
                    color: #19B5FE;
                }

                .fa-envelope {
                    color: #19B5FE;
                }

                .contaxt-info-text {
                    margin-left: 10px;
                }
            }

            .contacts-text-bottom {
                font-size: 14px;
                font-weight: bold;
            }

            .icons-bundle {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                color: #19B5FE;
            }
        }

        .forms {

            

            & > p {
                margin-bottom: 23px;

                @media(max-width: 1100px) {
                    text-align: center;
                }
            }
            .elements {
                width: 720px;
                height: 406px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media(max-width: 796px) {
                    width: 520px;
                }

                @media(max-width: 600px) {
                    width: 380px;
                }

                @media(max-width: 435px) {
                    width: 280px;
                }
                
                .first-row {
                    display: flex;
                    justify-content: space-between;
        
                    .input-text {
                        @include input-text(350px, 52px, #393939, #5a5a5a);
                        padding: 20px;
                        border-radius: 4px;
                        color: #FFFFFF;

                        @media(max-width: 796px) {
                            width: 250px;
                        }

                        @media(max-width: 600px) {
                            width: 180px;
                        }

                        @media(max-width: 435px) {
                            width: 130px;
                        }
                    }
    
                    
                }
    
                .subject {
                    @include input-text(720px, 52px, #393939, #5a5a5a);
                    padding: 20px;
                    border-radius: 4px;
                    color: #FFFFFF
                }

                .message {
                    @include input-text(720px, 160px, #393939, #5a5a5a);
                    resize: none;
                    padding: 20px;
                    border-radius: 4px;
                    color: #FFFFFF
                }

                .button-center {
                    display: flex;
                    justify-content: center;
                    .submit {
                        @include button(320px, 44px, 0, 0, #FFFFFF, #19B5FE, 4px);
                        font-weight: bold;
                    }
                }
            }

        }

    }
}

footer {
    background-color: #111111;
    z-index: 1;
    font-family: $main-font;
    .footer-container {
        @include container($container-width);
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        border-bottom: 1px solid #6b6b6b;

        @media(max-width: 796px) {
            flex-wrap: wrap;
            
        }
        .footer-column {
            
            & > p {
                cursor: pointer;
                color: #6b6b6b;
                font-weight: bold;
                margin-bottom: 38px;
            }

            & > ul {
                
                & > li {
                    margin-bottom: 30px;
                    margin-right: 20px;
                }
            }
            
        }
    }

    a {
        color: #6b6b6b;
        transition: 0.3s;
    }

    a:hover {
        color: #19B5FE;
    }

    .copyright {
        text-align: center;
        color: #6b6b6b;
        padding: 35px 0;
    }
    
}